  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  .row.content {height: auto}

  .search{
    width: 60%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .containerbackground{
      height: auto;
      width:80%;
      background-color: grey;
  }
  .backgroundcolorgreycontainer{
      background-color: grey;
  }
  .taskclass{
    height: auto;
    width: 60%;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 69px;
    margin-left: 332px;
  }
  .headingclass{
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 25px;
  }
  hr.style2{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    background-color: red;
    margin-top: -5px;
    margin-bottom: 0px;
  }
  hr.style1{
	border-top: 1px solid #8c8b8b;
}
hr.style1.margintopone{
    margin-top: 180px;
}
  table, th, td {
    
    border-collapse: collapse;
    padding: 16px;
    border-bottom: 1px solid red;
    
    
}
.extra_width {padding-left: 10px; padding-right: 10px;}
.less_width {width:50px;border-right: 1px solid red;}
  
  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  .marginleft{
      float:right;
  }
  .profilename{
    margin-top: -36px;
    margin-left: 59px;
  }
  .profilestatus{
    margin-left: 59px;
  }
  .rightnav{
    background-color:#ECF0F1;height:400px;
  }
  .profilepic{
    width:50px;height:50px;
  }
  .margintwentfive{
    margin:25px;
  }
  .marginleftfive{
    margin-left:5px;
  }
  .addbutton{
    position: absolute; bottom: 5px;
  }
  .widthfull{
    width:100%;
  }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        height: 70%;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: -31px;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .buttonsave {
        display: inline-block;
        padding: 7px 12px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: blue;
        border: none;
        border-radius: 6px;
      }
     
      .buttoncloseSave{
        margin-top: -15px;
      }
      tr.strikeout td:before {
        content: " ";
        position: absolute;
        top: 26%;
        left: 387px;
        border-bottom: 1px solid #111;
        width: 300px;
        
    }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;} 
    .taskclass {
        height: auto;
        width: 90%;
        background-color: white;
        margin-bottom: 20px;
        margin-top: 28px;
        margin-left: 18px;
    }
   #myBtn,#mysecondBtn,#filter{
    margin: 7px 2px;
    width: 375px;
   }
  }
 